body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    transition: background-image 0.5s ease-in-out;
    overflow: hidden;
}

h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    text-align: center;
    margin-bottom: 30px;
}
input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: Snow;
    border: 2px solid transparent; /* Изначальная прозрачная граница */
    outline: none; /* Убираем стандартное обрамление браузера */
    transition: background-color 1s ease-in-out, border-radius 1s ease-in-out;
}

input:focus {
    animation: rainbow-border 2s forwards; /* Анимация радужной обводки */
}

@keyframes rainbow-border {
    0% {
        border-color: rgba(255, 58, 58, 0.123);
    }
    33% {
        border-color: rgba(255, 255, 67, 0.322);
    }
    66% {
        border-color: #4eff41aa
    }
    100% {
        border-color: #00ffea
    }
}

.icon-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.icon-links a {
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.icon-links img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.icon-links a:hover img {
    transform: scale(1.2);
}

.icon-links span {
    margin-top: 5px;
    font-size: 14px;
    color: white;
}

a.copyright {
    font-size: 15px;
    position: absolute;
    left: 12px;
    bottom: 12px;
    color: rgba(255, 255, 255, 0.166);
    text-decoration: none;
}

.snowflake {
    position: fixed;
    top: -10px; /* Начало падения за границей экрана */
    color: white;
    font-size: 12px;
    pointer-events: none;
    user-select: none;
    opacity: 0.8;
    animation: fall linear infinite, sway ease-in-out infinite;
    z-index: 1000; /* Слой выше контента */
}

.snowflake {
    position: absolute;
    top: -10px;
    font-size: 10px;
    color: white;
    pointer-events: none;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}
.img {
    width: 60px;
    height: 100px;
}